
*{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:75px;
    justify-content: space-between;
    
}
    /*logo*/
.navbar > img{
    margin-left: 60px;
    margin-top: 15px;
    
    width: 10%;
    height: 45px;
    padding-top: -100px;
    cursor: pointer;
    
    

}
   /*search bar*/
form{
    
    width: 410px;
    height: 55px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 10px;
    margin-left: -190px;
    margin-right: -100px;
    
}
form input {
    width: 250px;
    border: none;
    
}
form button{
    background: #10847e;
    cursor: pointer;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 13px;
    border: none;
    
}

    /*delivery pincode*/

#delivery{
    height: 50px;
    margin-top: 10px;
    border-left: 1px solid rgb(136,151,162);
    margin-left: -205px;
    padding-left: 23px;
    
    
}
#delivery > p{
    margin-top:0;
}
    
#delivery > p:last-child{
    margin-top:-15px;
    
}
#delivery > p:nth-child(1){
    margin-top:5px;
    
}



/*login & cart buttons*/
#logincart button{
    margin-top: 10px;
    border: none;
    background-color: rgb(255,255,255);
    font-weight: 100;
   cursor: pointer;
}
.material-symbols-outlined{
    align-self: center;
    padding: 10px 20px;
    color: gray;
    
}


  

 .homebtn >a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-left: 50px;
    
    
 }

 /*cart items*/





 /*footer part */

.footer{
    display: flex;
    background-color: rgb(238,244,255);
    justify-content: space-around;
    height: 500px;

}
.footer > h{
    font: bold;
}
.paymentp{
    position: absolute;
    bottom: 30px;
    width: 100%;
    
    margin-bottom: -400px;
    margin-left: 200px;  

}
.paymentp >img{
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    
    margin-top: -20px;
}

/*products*/


/* #d{
    margin-left: -100px;
} */


/* #dataAppend p,h3{
    
    margin-left: -300px;
} */
#divbutton_re{
    padding: 5px 15px;
    cursor: pointer;
    color: white;
    background-color: #10847e;
    border: none;
    
}
#divbutton_in{
    padding: 5px 10px;
    margin-top: 20px;
    color: white;
    background-color: #10847e;
    border: none;
}
#divbutton_dec{
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: #10847e;
}
#show{
    color: white;
    background-color: #10847e;
    
}

.total{
   border: 2px solid #e6ebf4 ;
   border-radius: 15px; 
   border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
   padding: 20px;
}

.total >div:last-child{
    margin-left: 20px;
    font-size: larger;
}
#items_count{
    border: 2px solid #e6ebf4 ; 
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 20px;  
    margin-top: 0;
    
}
table{
    margin: 0;
    
    border-top: none;
}
#div2{
    border: 2px solid #e6ebf4 ;
    border-radius: 15px;
    margin-bottom: 30px;
}
#add_del_address{
width: 80%;
margin-left: 30px;
margin-right: 0;
margin-bottom: 30px;
padding: 10px;
background-color: #10847e;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
#summary{
    border: 2px solid #e6ebf4 ; 
    border-radius: 15px;
    
}
#summary h4{
padding-left: 20px;
}
#summary p{
    margin-left: 20px;
    font-size: larger;
}
hr{
    width: 90%;
    color: #dce4f1;
    height: 0;
}
#items{
    margin: 10px;
    border: 2px solid #e6ebf4 ; 
    margin-bottom: 30px;
    border-radius: 15px;
    
}
#items_in_cart{
    justify-content: space-around;
    margin: 10px;
    margin-bottom: 30px;

}
.photo{
    width: 40%;
   
    
}



@media screen and (min-width:701px) and (max-width:1000px) {
    /* Here Write all the necessery styles for Medium Screen size  */
    .navbar > img{
        margin-left: 2px;
        margin-top: 15px;
        margin-right: 70px;
        
        height: 45px;
        
        
    
    }
    
    
    form{
        height: 40px;
        width: 200px;
        margin-top: 10px;
        margin-left: 0px;
        margin-right:-50px;
        
    }
    form input {
        width: 100px;
        
        
    }
    form button{
       
        border-radius: 40px;
        
        font-size: 10px;
        font-weight: 100;
        padding: 7px;
       
    }

    #delivery{
        height: 40px;
        margin-top: 5px;
        
        margin-left: -100px;
        padding-left: 10px;
        
        
        
    }
    
    .material-symbols-outlined{
        
        padding: 0;
        
        
    }
    
    
      
    
     .homebtn >a{
        font-size: 16px;
        margin-left: 50px;
        
     }

    .paymentp{
    
    
    
    margin-bottom: -400px;
    margin-left: 30px;  

   }
.paymentp >img{
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    
    margin-top: -20px;
  }
/* #dataAppend p,h3{
    border: 1px solid red;
    margin-left: -100px;
} */
.photo{
    width: 100px;
    
  }
   
    
}

  @media screen and (min-width:100px) and (max-width:700px) {

    .navbar{
        display: flex;
        flex-direction: row;
        width: 90%;
        height:75px;
        justify-content: space-between;
        
    }
        /*logo*/
    .navbar > img{
        margin-left: 10px;
        margin-top: 15px;
        margin-right: 50px;
        width: 50px;
        height: 45px;
        padding-top: -100px;
        
        
    
    }
       /*search bar*/
    form{
        
        width: 210px;
        
        margin-left: -90px;
       
    }
    form input {
        width: 50px;
        border: none;
        
    }
    form button{
       margin-left: 30px;
       
       
    }
    
        /*delivery pincode*/
    
    #delivery{
        height: 10px;
        
        
        
    }
    #delivery > p{
        margin-top:0;
        font-size: 10px;
        margin-right: -50px;
    }
        
    #delivery > p:last-child{
        margin-top:-15px;
        
        
    }
    #delivery > p:nth-child(1){
        margin-top:5px;
        
    }
    
    
    
    /*login & cart buttons*/
    #logincart button{
        margin-top: 10px;
        border: none;
        background-color:none;
        font-weight:10;
        
        width: 50px;
        
        
        
        
    }
    .material-symbols-outlined{
        align-self: center;
        padding: 0;
        color: gray;
        
    }
    
    
    
     /*footer part */
    
    
    
    .paymentp{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 100px;
        bottom: 100px;
        background-color: rgb(238,244,255);;
        
        margin-bottom: -800px;
        margin-left: 0;  
    
    }
    
    #add_del_address{
    
    margin-left: 15px;
    
    }
    
    
    #summary p{
        margin-left: 8px;
        font-size: medium;
    }
    
    
    #items_in_cart{
        justify-content: space-around;
        margin: 10px;
        margin-bottom: 30px;
    
    }
    
    
    
  }
