#header{
    width: 100%;
    height: 90px;
    background-color:#10847e;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -8px -3px -3px;
   
 }
 .ph{
    width: 180px;
    height: 60px;
    
    margin-left: 30px;
    
}
.logo{
    width: 215px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    margin-right: 40px;
    display: flex;
    align-items: center;
    
}
.ph>a>img{
    width: 100%;
    height: 100%;
}
.logo > span{
    margin-right: 10px;
}
.left{
    padding: 5px;
    width: 53%;
    /*border: 1px solid red;*/
    
    }
    .right{
        padding: 5px;
        margin: 20px;
        width: 30%;
    }

.left h1{
    color: rgb(82, 79, 79);
    font-size: 28px;
    margin-top: 3%;
}
.accordion-item{
    border-bottom: 1px dotted  rgb(143, 138, 138);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    
}
.accordion-link{
    font-size: 14px;
    font-family:"Open Sans";
    color:#696b6d;
    text-decoration: none;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.accordion-link .ion-md-remove{
    display:none;
}
.answer{
    max-height:0;
    overflow: hidden;
    position:relative;
    transition:max-height 650ms;
    padding:0px 15px;
}

.accordion-item:target .answer{
    max-height:20rem;
}
.accordion-item:target .accordion-link .ion-md-add{
        display:none;
}
.accordion-item:target .accordion-link .ion-md-remove{
        display:block;
}
.rs{
    height: 50px;
    width: 50px;
}
.payimg{
    height: 30px;
    width: 50px;
    margin: auto;
    margin-right: 60px;
}
.payname{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 0px;
    
    
}
.paraname{
    color: rgb(143, 143, 143);
    font-size: 12px;
    
    
    
}

.lastbutton{
    margin-top: 15px;
    width: 12px;
    height: 12px;
    border: 0.5px solid rgb(16,132,126);
    border-radius: 50%;
    
}
.lastbutton:hover{
    background-color:rgb(16,132,126) ;
}
.linkwallet{
    background-color: rgb(16,132,126);
    color: aliceblue;
    width: 200px;
    height: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    margin-left: 23%;
    cursor: pointer;
   
    
}
.wallettext{
    padding-top: 12px;
}
.walletflex{
    display: flex;
    width: 85%;
    justify-content: space-between;
}
.walletdetail{
    display: flex;
    justify-content: space-between;
}
.imgpay{
    width: 50px;
   
}

#container{
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 1200px;
    /*border: 1px solid red;*/
    height: auto;
    }

.left>div>hr{
   
    width: 50%;
    padding-right: 15%;
    margin-top: 4%;
    margin-left: 60px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    
}
.left>div>p{
    color: rgb(143, 143, 143);
    font-size: 14px;
    padding-left: 8%;
    
    text-align:justify;
}

.left>div>div>img{
    width: 4%;
    height: 4%;
    margin-left: 8%;
    margin-top: 10px;
   
}
.right > .total{
    margin-top: 30% ;

}

#headingRow{
    font-size: 20px;
    color: rgb(143, 142, 142);
   
}

.row1,
.row2,
.row3{
  
   display: flex;
   font-size: 18px;
}
.row1 >p,
.row2 >p,
.row3 >p{
    margin-left: 100px;
}
.row1 > h4,
.row2> h4,
.row3 >h4{
    font-weight: lighter;
}
.row2,
.row3,
#st,
#nd{
    margin-top: -20px;
}
.total >hr{
    border-top: 1px dashed #bebebe;
}
#pbtn{
    margin-left: 10%;
     margin-top: 20px;
     background-color: #30908b;
     border-radius: 10px;
     border: #10847E;
    
     padding: 20px;
}
body{
    overflow-x: auto;
}
#otherop{
    display: flex;
}

#otherop > h3{
    margin-left: 20px ;
}

