* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    /* border: 2px solid salmon; */
    width: 80%;
    margin: auto;
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#topbar li {
    list-style: none;
    padding: 0 20px;
}

#topbar li a{
    text-decoration: none;
    font-weight: 400;
    color:#5d6166;
}

#topbar li:nth-child(1){
    padding: 10px;
    background-color: #eef4ff;
    border-radius: 10px;
}

/* headbar */
#headbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 00px 20px;
    /* border: 2px solid rgb(190, 24, 6); */
    width: 80%;
    margin: auto;
    margin-top: -15px
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid salmon; */
}



#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-weight: 500;
    color:#5d6166;
}

/* one */
/* searchbar */
#one {
    /* border: solid red; */
    width: 80%;
    margin: auto;
}

#topbar .fa-mobile-button {
    align-self: center;
    padding: 10px 20px;
    color: gray;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar {
    width: 900px;
    margin: auto;
}

#searchbar p{
    text-align: end;
}

#searchbar p>a {
    color: #10847e;
    font-weight: 200;
}

form {
    background: #fff;
    width: 900px;
    height: 55px;
    display: flex;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

form input {
    flex: 1;
    border: none;
    outline: none;
    
}

form button {
    background: #10847e;
    padding: 10px 20px;
    border: 3px solid #fff;
    border-left: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 50px;
    
}

form .fa-magnifying-glass{
    align-self: center;
    padding: 10px 20px;
    color: gray;
}

/* list */

#list {
    padding: 40px 20px;
    /* border: solid red; */
}
#list .listbox {
    padding: 0 10px;
    /* border: solid red; */
    /* width: 150px;
    height: 180px; */
    text-align: center;
}

#list .box:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

.listbox img,h6 {
    width: 80%;
    line-height: normal;
    border-radius: 20px;
    margin: auto;
    padding: 1px;
    color: #5c6165;
    line-height: 30px;
}

.listbox {
    display: flex;
    width: 100%;
    margin: auto;
}

.box {
    /* margin-right: 20px !important; */
    /* margin-left: 20px; */
    margin: 0px 20px;
}

.box>hr{
    margin-top: -4px;
}

/* swiper */

.swiper {
    width: 100%;
    display: flex;
}

swiper-pagination img {
    width: 100%;
    margin: 15px;
    border-radius: 15px;
}

/* two */


#two {
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;
    /* border: 2px solid rgb(190, 24, 6); */
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-color: #f4f9ff;
}

#two img {
    /* border: 2px solid rgb(190, 24, 6); */
    width: 10%;
}

#twobar {
    display: flex;
    justify-content: space-around;
    border-bottom: 50px;
}

#twobar>div{
    /* border: 2px solid rgb(190, 24, 6); */
    width: 12%;
    display: flex;
    
}

#twobar div>i{
    align-self: center;
    padding: 10px 20px;
    color: gray;
}

/* two .twoslide div{
    border: 2px solid rgb(190, 24, 6);
} */

.twowrapper {
    display: flex;
    justify-content: space-around;
}


/* three  */

#threea {
    width: 80%;
    margin: auto;
    /* border: 2px solid rgb(190, 24, 6); */
    padding: 0 10px;
}

#threea .imgtag {
    /* border: 2px solid rgb(190, 24, 6); */
    cursor: pointer;
    white-space: nowrap;
    display: flex;
}

#threea .imgtag>div{
    padding: 10px;
}

#threea .imgtag div {
    object-fit: cover;
    width: calc(100% / 4);
    height: 100px;
    margin-left: 15px;
    border: 1px solid rgba(112, 110, 110, 0.452);
    display: flex;
}

#threea .imgtag div img,p {
    /* margin: 10px; */
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#threea .imgtag img:first-child{
    margin-left: 0px;
}

/* -------------- */
#threeb {
    width: 80%;
    margin: auto;
    /* border: 2px solid rgb(190, 24, 6); */
    padding: 0 10px;
}

#threeb .imgtag {
    /* border: 2px solid rgb(190, 24, 6); */
    cursor: pointer;
    white-space: nowrap;
    width: 95%;
}

#threeb .imgtag img {
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 15px;
}


#threeb .imgtag img:first-child{
    margin-left: 0px;
}

/* four */


#four {
    width: 80%;
    margin: auto;
}

.productbox {
    display: flex;
}

#four #product{
    width: 300px;
    /* height: 400px; */
    /* border: 2px dotted rgb(190, 24, 6); */
    margin: auto;
    display: grid;
    text-align: center;
}



#four #product img{
    width: 60%;
    margin: auto;
    border: 1px solid rgba(223, 222, 222, 0.658);
    border-radius: 10px;
    padding: 20px;
    
}

#product>img:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border-radius: 15px; */
}

/* adimg */

#adimg {
    width: 80%;
    margin: auto;
}

#adimg div{
    display: flex;
    
}

#adimg div>img{
    width: 300px;
    margin-left: 20px;
    border-radius: 10px;
}

#adimg div>img:first-child{
    margin-left: 0px;
}

#bottomimg {
    width: 80%;
    margin: auto;
}

#bottomimg img{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#lasttext{
    width: 80%;
    margin: auto;
}