#main {
    /* border: 2px solid black;  */
   display: flex;
   width: 60%;
   
   justify-content: center;
   margin: 120px;

}

#parent1 {
   /* border: 2px solid red; */
   width: 100%;
   /* display: flex; */
   justify-content: space-evenly;
   /* margin-top: -50px; */

}
#boxes .img {
    border: #8897A2;
}
#productsummary {
   display: flex;
   height: 50px;
   margin-bottom: 30px;
   
}
#content > table {
    height: 250px;
    width: 70%;
    
}
td {
    font-size: larger;
    padding-left: 20px;
    
}
td:nth-child(1) {
    font-weight:bold;
}
#parent1>div:nth-child(2)>p {
   width: 50%;

}

#boxes {
   display: flex;

}
#box {
    /* border: 2px solid green; */
    padding-top: 30px;
    padding-bottom: 30px;

}

#details{
   /* border: 2px solid blue; */
   width: 30%;
   height: 307px;
}
#details button {
    color: #ffff;
    background-color: #10847E;
    height: 40px;
    width: 60%;
}
#belowprod p {
    font-size: larger;
    

}
#belowprod h3 {
    margin-top: -15px;
    margin-bottom: -10px;
    font-size: x-large;
}
table,
td {
   border: 1px solid black;
   border-collapse: collapse;

}
#belowtable {
   display: flex;
   /* justify-content: space-between; */
}
#belowtable button {
    font-weight: bold;
    color: #10847E;
    height: 20px;
    margin-top: 25px;
    margin-left: 150px;
    border:rgb(194, 234, 232);
    
}

#belowtable > p {
   padding-left: 20px;
   padding-right: 50px;
   font-size: large;
}
#belowtable img {
    margin-left: 20px;
    

}
#parent2 {
   border: 2px solid green;
   width: 60%;
   height: 500px;
   justify-content: center;
   margin: 120px;
   margin-top: -120px;
   

}
#parent2 button {
    height: 40px;
    width: 35%;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    background-color: #8897A2;
}
#parent2 > h4 {
   color: #10847E;
}
#rightpage {
   display: flex;
   /* border: 2px solid crimson; */
   height: 50px;
}
#rightpage button {
    margin-left: 90px;
    color: #10847E;
    font-weight:bold;
    height: 20px;
    border: white;
    margin-top: 25px;
}
#lastimg {
    display: flex;
    height: 30px;
    margin-top: 10px;
}
#lastimg p {
    margin-left: 10px;
    padding-bottom: 50px;
}
#lastpara {
    display: flex;
    height: 30px;
    margin-top: 20px;
}
#lastpara p {
    margin-left: 10px;
    padding-bottom: 50px;
}

#parent2 > div:nth-child(3) {
   display: flex;

}
#pro > h4 {
    background-color:#E9F9FF;
    /* width: 70%; */
    /* border: 2px solid red; */
    height: 40px;
    padding-left: 50px;
    padding-top: 20px;
    
}
#pro {
    width: 70%;
}

